<table>

    <thead>
        <th>Name</th>
        <th>Email</th>
        
    </thead>
    <tbody>
<% lstContact.forEach((eachContact) => { %>
    <tr>
        <td><%= eachContact.accname  %></td>
        <td><%= eachContact.conemail  %></td>
       
    </tr>
<%  })  %> 

</tbody>