
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> Register
        </h1>
          <% include ./partials/messages.ejs %>
        <form action="/users/register" method="post">

          <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" name="firstName" class="form-control"  placeholder="Enter Your First Name"
              />
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" name="lastName" class="form-control"  placeholder="Enter Your Last Name"
              />
            </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" class="form-control"  placeholder="Enter Email"
              />
            </div>
            <div class="form-group">
              <label for="password">Enter Password</label>
              <input type="password" name="password" class="form-control"  placeholder="Enter Password"
              />
            </div>
            <div class="form-group">
              <label for="password2">Retype Password</label>
              <input type="password2" name="password2" class="form-control"  placeholder="Retype Password"
              />
            </div>            
      <center><button type="submit" class="btn btn-info">Register</button> 
      </button></center>    
           
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>
 